

.App{
  display: grid;
  grid-template-columns: minmax(150px, 10%) 1fr;
  height: 100%;
  grid-template-areas: "nav post-bar"
                       "nav list";
  grid-template-rows: 10% 1fr;
}

*{
  padding: 0;
}

:root{
  --first-colour: #1a1a2e;
  --second-colour: #e94560;
  color: var(--fourth-colour);
  background-color: var(--first-colour);
}

.Navigation{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--second-colour);
  justify-content: flex-start;
  align-items: center;
}

.Articles{
  grid-area: list;
}

