
.sortByHeading{
   margin: none;
   color: var(--second-colour);
   font-weight: bold;
   border-radius: 1rem;}

.sortButtonsContainer{
    background-color: var(--first-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;

}

.sortButton{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--second-colour);
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px; 
    text-align: center;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--first-colour);
}

.articleCard{
    width: 500px;
    background-color: white;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.5rem;
    margin-bottom: 1rem;
    border-color: var(--fourth-colour);
    font-weight: bold;
    color: var(--first-colour);
    padding: 2rem;
}

.errorText{
    color: var(--second-colour);
    font-weight: bold;
}