
  :root{
    --first-colour: #1a1a2e;
    --second-colour: #16213e;
    --third-colour: #0f3460;
    --fourth-colour: #e94560;
    color: var(--first-colour);    }


.formContainer{
  width: 100%;
  grid-area: post-bar;
  display: flex;
  grid-template-columns: 90% auto;
  grid-template-areas: 'input dropdown';
  justify-content: center;
  background-color: var(--third-colour);
}

.textInput {
  grid-area: input;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  border-color:var(--fourth-colour);
  border-style: solid;
  padding-top: 1.5rem;
  width: 80%;
}

.textInput::placeholder{
  font-weight: italic;
  font-size: 1.5rem;
  text-align: center;

}

.topicsDropDown{
    grid-area: dropdown;
    background-color: yellow;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
}